@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #006848, #d6caa0);
    background-size: cover;
    background-position: center;
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
}

.logo {
    flex-basis: 30%;
}

    .logo img {
        width: 150px;
    }

.nav-links {
    flex: 1;
    text-align: right;
    margin-top: 17px;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        padding: 8px 12px;
        position: relative;
    }

        .nav-links ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 23px;
        }

        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: #f44336;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%;
        }

nav .fa {
    display: none;
}

#text {
    background: #fff;
    color: #006848;
    text-align: center;
    padding: 50px 0;
}

    #text .text-box {
        max-width: 800px;
        margin: 0 auto;
    }

    #text h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    #text p {
        font-size: 1.25rem;
        margin-bottom: 0;
    }

#display-image-section {
    text-align: center; /* Center align if you have text or inline elements */
    padding: 20px 0; /* Add padding above and below the image */
    /* Add any other styles you wish to apply to this section */
}

    /*#display-image-section img {
        max-height: 400px;*/ /* Or any other value that suits your design */
        /*width: auto;*/ /* Maintains the aspect ratio */
        /*display: block;*/ /* Ensures the image is a block-level element */
        /*margin: auto;*/ /* Centers the image horizontally */
    /*}*/

    #display-image-section #main-display-image {
        max-width: 100%; /* Limits the image to the width of the container */
        height: auto; /* Keeps the image aspect ratio intact */
        display: block; /* Displays the image as a block to allow for margin auto to work */
        margin: auto; /* Centers the image horizontally */
        /* Apply additional styles if needed */
    }

#actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.action-box {
    margin-bottom: 20px;
    margin-top: 50px;
    background-color: #fff;
    /*border: 1px solid #006848;*/
    border-radius: 8px;
    margin: 1em;
    padding: 2em;
    width: 90%;
}

.decorated-box {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: center;
    margin-left: 150px;
    margin: 2em auto;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    .decorated-box img {
        width: 40%;
        height: auto;
        border-radius: 5%;
        margin-right: 20px;
    }

.text-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

    .text-content > * {
        display: block;
        margin-bottom: 40px;
        margin-top: 30px;
    }


.know-more-btn {
    display: inline-block;
    width: 20%;
    padding: 10px 20px;
    background-color: #006848;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px; /* Ensure space above button */
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

    .know-more-btn:hover {
        background-color: #004f36;
        color: #d6caa0;
    }

.decorated-box:last-of-type {
    margin-bottom: 0; /* Remove margin from the last decorated-box */
}

footer {
    background: linear-gradient(to right, #006848, #d6caa0);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

    .social-icons a::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #f44336;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .social-icons a:hover::after {
        transform: scaleX(1.0);
    }

    .social-icons a i {
        font-size: 30px;
    }

.copy {
    margin-top: 10px;
}

/*@media (max-width: 768px) {
    .nav-links ul li {
        padding: 5px;
        margin: 0 10px;
    }

        .nav-links ul li a {
            font-size: 0.8rem;
        }*/

/* Adjusted decorated-box layout for smaller screens */
/*.decorated-box {
        flex-direction: column;
    }*/

/* Adjusted image width in decorated-box for mobile layout */
/*.decorated-box img {
            width: 100%;
            margin-bottom: 1em;
        }
}*/
