* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #006848, #d6caa0);
    background-size: cover;
    background-position: center;
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
}

.logo {
    flex-basis: 30%;
}

    .logo img {
        width: 150px;
    }

.nav-links {
    flex: 1;
    text-align: right;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        padding: 8px 12px;
        position: relative;
    }

        .nav-links ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 23px;
        }

        .nav-links ul li::after {
            content: '';
            width: 0%;
            height: 2px;
            background: #f44336;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-links ul li:hover::after {
            width: 100%;
        }

nav .fa {
    display: none;
}

#text {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

    #text .text-box {
        max-width: 800px;
        margin: 0 auto;
    }

    #text h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    #text p {
        font-size: 1.25rem;
        margin-bottom: 0;
    }

.action-box {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.decorated-box {
    width: 45%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .decorated-box img {
        width: 50%;
        height: 60%;
        object-fit: cover;
        border-radius: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }


.know-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

    .know-more-btn:hover {
        background-color: #0056b3;
    }

footer {
    background: linear-gradient(to right, #006848, #d6caa0);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

    .social-icons a::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #f44336;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .social-icons a:hover::after {
        transform: scaleX(1.0);
    }

    .social-icons a i {
        font-size: 30px;
    }

.copy {
    margin-top: 10px;
}
